.back-button {
    width: min-content;
    min-width: 200px;
    margin: 0;
}

.booking-wrapper {
    display: grid;
    grid-template-columns: minmax(400px, auto) minmax(400px, auto);
    gap: 3rem;
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--secondary-bg-color);
}

.booking-wrapper * h1 {
    margin: 0 0 1rem 0;
}

.nav {
    margin:3rem 0 2rem 0;
    gap: 2rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .booking-wrapper {
        grid-template-columns: none;
    }

    .back-button {
        width: 100%;
    }
}